[Unit]
Description=PHP-CGI
After=local-fs.target network.target nginx.service

[Service]
Type=simple
KillMode=process
ExecStart=/usr/local/bin/php-cgi -b 0.0.0.0:9000
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target